/********************************/
/* HEADER SECTION */
/********************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.6rem;
	padding: 0 4.8rem;
	background-color: #fdf2e9;
}

.logo {
	height: 2.2rem;
}

/********************************/
/* HERO SECTION */
/********************************/

.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #cf711f;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	color: #fff;
	background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.nav-cta:active {
	background-color: #cf711f;
}

/********************************/
/* HERO SECTION */
/********************************/

.section-hero {
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;
}

.hero,
.delivered-meals,
.delivered-imgs {
	display: flex;
}

.hero {
	max-width: 130rem;
	gap: 9.6rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	align-items: center;
	letter-spacing: -0.5px;
}

.hero-description {
	margin-bottom: 4.8rem;
	font-size: 2rem;
	line-height: 1.6;
}

.hero-text-box,
.hero-img-box {
	flex: 1;
}

.hero-img {
	width: 100%;
}

.delivered-meals {
	align-items: center;
	gap: 1.6rem;
	margin-top: 8rem;
}

.delivered-imgs img {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;
	margin-right: -1.6rem;
	border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
	margin: 0;
}

.delivered-text {
	font-size: 1.8rem;
	font-weight: 600;
}

.delivered-text span {
	color: #cf711f;
	font-weight: 700;
}

/********************************/
/* FEATURED IN SECTION */
/********************************/

.section-featured-in {
	padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2.4rem;
	color: #888;
}

.logos {
	display: flex;
	justify-content: space-around;
}

.logos img {
	height: 3.2rem;
	filter: brightness(0);
	opacity: 50%;
}

/********************************/
/* HOW IT WORKS SECTION */
/********************************/

.section-how-it-works {
	padding: 9.6rem 0;
}

.step-number {
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}

.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}

.step-img-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.step-img-box svg {
	position: absolute;
	z-index: -1;
	fill: #fdf2e9;
	transform: translate(100 100);
}

/* .step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  60% of parents width
  padding-bottom: 60%;
  z-index: -2;
  background-color: #fdf2e9;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
} */

.step-img {
	width: 35%;
}

/********************************/
/* MEALS SECTION */
/********************************/

.section-meals {
	padding: 9.6rem 0;
}

.meal {
	border-radius: 11px;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	overflow: hidden;
	transition: all 0.4s;
}

.meal:hover {
	transform: translateY(-1.2rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
	padding: 2.4rem 4.8rem 4.8rem;
}

.meal-tags {
	margin-bottom: 0.8rem;
	display: flex;
	gap: 0.4rem;
}

.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	border-radius: 100px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #333;
	font-weight: 600;
}

.tag--vegetarian {
	background-color: #51cf66;
}

.tag--vegan {
	background-color: #94d82d;
}

.tag--paleo {
	background-color: #ffd43b;
}

.meal-title {
	font-size: 2.4rem;
	color: #333;
	font-weight: 600;
	margin-bottom: 3.2rem;
}

.meal-attributes {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 2rem;
}

.meal-attribute {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	font-size: 1.8rem;
}

.meal-icon {
	height: 2.4rem;
	width: 2.4rem;
	color: #e67e22;
}

.meal-img {
	width: 100%;
}

.all-recipes {
	text-align: center;
	font-size: 1.8rem;
}

/********************************/
/* TESTIMONIALS SECTION */
/********************************/

.section-testimonials {
	background-color: #fdf2e9;
	display: grid;
	grid-template-columns: 55fr 45fr;
	align-items: center;
}

.testimonials-container {
	padding: 9.6rem;
}

.testimonials {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 4.8rem;
	column-gap: 8rem;
}

.testimonial-img {
	width: 6.4rem;
	border-radius: 50%;
	margin-bottom: 1.2rem;
}

.testimonial-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 1.6rem;
}

.testimonial-name {
	font-size: 1.6rem;
	color: #6f6f6f;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
	padding: 1.6rem;
}

.gallery-item {
	overflow: hidden;
}

.gallery-item img {
	display: block;
	width: 100%;
	transition: all 0.4s;
}

.gallery-item img:hover {
	transform: scale(1.1);
}

/********************************/
/* PRICING SECTION */
/********************************/

.section-pricing {
	padding: 9.6rem 0;
}

.pricing-plan {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 11px;
}

.pricing-plan--starter {
	padding: 4.6rem;
	border: 2px solid #fdf2e9;
	justify-self: end;
}

.pricing-plan--complete {
	padding: 4.8rem;
	position: relative;
	background-color: #fdf2e9;
	overflow: hidden;
}

.pricing-plan--complete::after {
	content: 'Best value';
	position: absolute;
	top: 6%;
	right: -21%;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 700;
	color: #333;
	background-color: #ffd43b;
	padding: 0.8rem 8rem;
	transform: rotate(45deg);
}

.plan-header {
	text-align: center;
	margin-bottom: 4.8rem;
}

.plan-name {
	color: #cf711f;
	font-weight: 600;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.75;
	margin-bottom: 3.2rem;
}

.plan-price {
	font-size: 6.2rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 1.6rem;
}

.plan-price span {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 0.8rem;
}

.plan-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: #6f6f6f;
}

.plan-sign-up {
	margin-top: 4.8rem;
	text-align: center;
}

.plan-details {
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: center;
}

.feature-icon {
	padding: 1.6rem;
	margin-bottom: 3.2rem;
	border-radius: 50%;
	color: #e67e22;
	height: 3.2rem;
	width: 3.2rem;
	background-color: #fdf2e9;
}

.featured-title {
	margin-bottom: 1.6rem;
	font-size: 2.4rem;
	color: #333;
	font-weight: 700;
}

.featured-text {
	font-size: 1.8rem;
	line-height: 1.8;
}
