/********************************/
/* HEADER SECTION  */
/********************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.2rem;
}

/********************************/
/* HERO SECTION  */
/********************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/********************************/
/* HERO SECTION  */
/********************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero,
.delivered-meals,
.delivered-imgs {
  display: flex;
}

.hero {
  max-width: 130rem;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  letter-spacing: -0.5px;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

.hero-text-box,
.hero-img-box {
  flex: 1;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/********************************/
/* HOW IT WORKS SECTION  */
/********************************/
.section-how-it-works {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 35%;
}
