/********************************/
/* HEADER SECTION  */
/********************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.6rem;
	padding: 0 4.8rem;
	background-color: #fdf2e9;
}

.logo {
	height: 2.2rem;
}

/********************************/
/* HERO SECTION  */
/********************************/

.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #cf711f;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	color: #fff;
	background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.nav-cta:active {
	background-color: #cf711f;
}

/********************************/
/* HERO SECTION  */
/********************************/
.section-hero {
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;
}

.hero,
.delivered-meals,
.delivered-imgs {
	display: flex;
}

.hero {
	max-width: 130rem;
	gap: 9.6rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	align-items: center;
	letter-spacing: -0.5px;
}

.hero-description {
	margin-bottom: 4.8rem;
	font-size: 2rem;
	line-height: 1.6;
}

.hero-text-box,
.hero-img-box {
	flex: 1;
}

.hero-img {
	width: 100%;
}

.delivered-meals {
	align-items: center;
	gap: 1.6rem;
	margin-top: 8rem;
}

.delivered-imgs img {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;
	margin-right: -1.6rem;
	border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
	margin: 0;
}

.delivered-text {
	font-size: 1.8rem;
	font-weight: 600;
}

.delivered-text span {
	color: #cf711f;
	font-weight: 700;
}

/********************************/
/* FEATURED IN SECTION  */
/********************************/

.section-featured-in {
	padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2.4rem;
	color: #888;
}

.logos {
	display: flex;
	justify-content: space-around;
}

.logos img {
	height: 3.2rem;
	filter: brightness(0);
	opacity: 50%;
}

/********************************/
/* HOW IT WORKS SECTION  */
/********************************/

.section-how-it-works {
	padding: 9.6rem 0;
}

.step-number {
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}

.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}

.step-img-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.step-img-box svg {
	position: absolute;
	z-index: -1;
	fill: #fdf2e9;
	transform: translate(100 100);
}

/* .step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  60% of parents width
  padding-bottom: 60%;
  z-index: -2;
  background-color: #fdf2e9;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
} */

.step-img {
	width: 35%;
}

/********************************/
/* MEALS SECTION  */
/********************************/

.section-meals {
	padding: 9.6rem 0;
}

.meal {
	border-radius: 11px;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	overflow: hidden;
}

.meal-content {
	padding: 2.4rem 4.8rem 4.8rem;
}

.meal-tags {
	margin-bottom: 0.8rem;
	display: flex;
	gap: 0.4rem;
}

.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	border-radius: 100px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #333;
	font-weight: 600;
}

.tag--vegetarian {
	background-color: #51cf66;
}

.tag--vegan {
	background-color: #94d82d;
}

.tag--paleo {
	background-color: #ffd43b;
}

.meal-title {
	font-size: 2.4rem;
	color: #333;
	font-weight: 600;
	margin-bottom: 3.2rem;
}

.meal-attributes {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 2rem;
}

.meal-attribute {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	font-size: 1.8rem;
}

.meal-icon {
	height: 2.4rem;
	width: 2.4rem;
	color: #e67e22;
}

.meal-img {
	width: 100%;
}

strong {
	font-weight: 500;
}

.list {
	list-style: none;
}

.list-item {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	font-size: 1.8rem;
}

.list-icon {
	width: 3rem;
	height: 3rem;
	color: #e67e22;
}
