@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");

/* ================================= 
  Base Element Styles
==================================== */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  /* By doing this makes default rem 10px because 62.5% of 16 is 10 */
  font-size: 62.5%;
  background-color: red;
}

/* ---- Page Elements ---- */

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  top: 0;
}
